<mat-nav-list>
    <a mat-list-item href="landing" class="nav-home"
      ><mat-icon class="nav nav-home">home</mat-icon>Home</a
    >
    <a mat-list-item href="goal-station/goal-dashboard" class="nav-dashboard"
      ><mat-icon class="nav nav-dashboard">dashboard</mat-icon>Dashboard</a
    >
    <a mat-list-item href="goal-station/organizations" class="nav-organization"
      ><mat-icon class="nav nav-organization">domain</mat-icon> Organizations</a
    >
    <a mat-list-item href="goal-station/goals" class="nav-goal"
      ><mat-icon class="nav nav-survey">question_answer</mat-icon> Goals</a
    >
    <a mat-list-item href="goal-station/goal-reports" class="nav-report"
      ><mat-icon class="nav nav-report"> pie_chart</mat-icon> Reports</a
    >
    <a mat-list-item href="goal-station/settings" class="nav-settings"
      ><mat-icon class="nav nav-settings">settings</mat-icon> Settings</a
    >
  </mat-nav-list>
  