mat-drawer-container {
  height: 100vh;
}
mat-drawer {
  background-color: #21295c;
  width: 250px;
}

mat-drawer a {
  color: #ffffff;
}

.example-spacer {
  flex: 1;
}

mat-icon.nav {
  margin-right: 0.5em;
}

.toolbar-container {
  align-self: start;
  width: 100%;
}

.example-sidenav a {
  color: #ffffff;
}

mat-icon.nav {
  margin-right: 0.5em;
}

.content-area {
  padding: 20px;
}
