<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened>
    <div style="padding: 1em 1em 1em 1em; font-size: 2em; color: #ffffff">
      Dia
    </div>
    <app-goal-sidenav></app-goal-sidenav>
  </mat-drawer>
  <div class="main-content">
    <mat-toolbar>
      <span>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </span>
      <span style="padding-top: 3px;">Goal Station</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
